<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Best Restaurants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="bodyStyle" background="https://coding-assets.s3-us-west-2.amazonaws.com/img/fastfood-600.png">
    <div class= "container">
      <div class="jumbotron" style="opacity:90%;">
        @RenderBody()
      </div>
    </div>
  </body>
</html>