@{
  Layout = "_Layout";
}
<h1>Welcome to our salon.</h1>
<h4>525 Fleet St.</h4>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>