@{
  Layout = "_Layout";
}

<h1>Eau Claire's Hair & Head Removal Barbershop</h1>
<h4>525 Fleet St.</h4>
<h4>Temple, London EC4Y 1HT</h4>
<h4>United Kingdom</h4>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>